@page "/poompooms"
@layout MainLayout
@attribute [Authorize(Roles = "Administrator")]

@if (!this.IsInit)
{
    <div class="pageloading-box">
        데이터를 불러오는 중입니다.<br />
        잠시만 기다려 주세요.
    </div>
}
else
{
    <span class="label-title">컨텐츠 목록</span>
    <div class="context-box">
        <div class="filter-box">
            <div class="filter-item">
                <span class="label-name" style="margin-left:10px;">타입</span>
                <select @bind="this.ContentType" @bind:event="oninput" @onchange="() => { this.Page = 1; this.MovePage(); }">
                    <option value="">전체</option>
                    <option value="@Database.ContentTypes.Boast">자랑</option>
                    <option value="@Database.ContentTypes.Metting">번개</option>
                    <option value="@Database.ContentTypes.Sell">판매</option>
                    <option value="@Database.ContentTypes.Talk">수다</option>
                </select>
            </div>

            <div class="filter-item">
                <span class="label-name" style="margin-left:10px;">검색</span>
                <div class="search">
                    <input @bind="@this.Search" @bind:event="oninput" @onkeydown='(e) => { if (e.Key == "Enter") { this.Page = 1; this.MovePage(); } }' />
                    <button class="accept" @onclick="() => { this.Page = 1; this.MovePage(); }">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div style="flex-grow: 1; text-align: end; padding-right: 10px;">
                <button class="accept" style="display: inline-block;" @onclick="OpenDetail">신규등록</button>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        닉네임
                    </th>
                    <th>
                        타입
                    </th>
                    <th>
                        내용
                    </th>
                    <th>
                        댓글수
                    </th>
                    <th>
                        좋아요수
                    </th>
                    <th>
                        등록일
                    </th>
                    <th style="width: 100px;">
                        -
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (this.Items == null || this.Items.Length == 0)
                {
                    <tr>
                        <td colspan="7">
                            <div class="no-list">
                                표시할 목록이 없습니다.
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in this.Items)
                    {
                        <tr>
                            <td>
                                <span style="font-weight: bold; cursor: pointer;" @onclick="() => { this.OpenDetail(item); }">
                                    @item.Nickname
                                </span>
                            </td>
                            <td>
                                @switch (item.ContentType)
                                {
                                    case Database.ContentTypes.Boast:
                                        <span>자랑</span>
                                        break;
                                    case Database.ContentTypes.Metting:
                                        <span>번개</span>
                                        break;
                                    case Database.ContentTypes.Sell:
                                        <span>판매</span>
                                        break;
                                    case Database.ContentTypes.Talk:
                                        <span>수다</span>
                                        break;
                                    default:
                                        <span>-</span>
                                        break;
                                }
                            </td>
                            <td>
                                @if (string.IsNullOrWhiteSpace(item.Content))
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <span class="content">@item.Content</span>
                                }
                            </td>
                            <td>
                                @item.CommentCount.ToString("#,##0")
                            </td>
                            <td>
                                @item.LikeCount.ToString("#,##0")
                            </td>
                            <td>
                                @item.CreateTime.ToString("yyyy.MM.dd")
                            </td>
                            <td>
                                <button style="background-color: #e11b1b; color: #ffffff;" @onclick="async () => { await this.RemoveItemAsync(item); }">삭제</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="pager">
                            <btn @onclick="() => { this.Page--; this.MovePage(); }">
                                <i class="fas fa-chevron-left"></i>
                            </btn>
                            <input type="number" @bind="this.Page" @bind:event="oninput" @onkeydown='(e) => { if (e.Key == "Enter") this.MovePage(); }'/>
                            <span>/ @this.TotalPageCount.ToString("#,##0")</span>
                            <btn @onclick="() => { this.Page++; this.MovePage(); }">
                                <i class="fas fa-chevron-right"></i>
                            </btn>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}